@model List<Todo>
@{
    ViewData["Title"] = "Home Page";
}

<html>
<body>

    <form method="post" asp-controller="Home" asp-action="List">
        Your Name
        <input type="text" name="Name" />
        <input type="submit" value="OK" />
    </form>

</body>
</html>