
@{
    ViewData["Title"] = "Remove";
}

<h4>Are you sure?</h4>

<form method="get" asp-controller="Home" asp-action="AccountRemoved" id="RemoveForm"></form>
<form method="get" asp-controller="Home" asp-action="List" id="DoNotRemoveForm"></form>
<input type="submit" value="Yes" form="RemoveForm"/>
<input type="submit" value="No" form="DoNotRemoveForm"/>


