@model List<string>
@{
    ViewData["Title"] = "Home Page";
}

<html>
<body>

    <form method="post" asp-controller="Home" asp-action="SignIn">
        <table style="width: 40%;">
            <tr>
                <th></th>
                <th><h1>Sign In</h1></th>
            </tr>
            <tr>
                <td style="text-align: end; padding-right: 10px;"><b>User Name</b></td>
                <td><input style="padding: 5px; width: 100%;" type="text" name="userName" value=@ViewBag.UserName /></td>
            </tr>
            <tr>
                <td style="text-align: end; padding-right: 10px;"><b>Password</b></td>
                <td><input style="padding: 5px; width: 100%;" type="password" name="password" /></td>
            </tr>
            <tr>
                <td></td>
                <td><b><input style="padding: 5px; width: 50%;" type="submit" value="Submit" /></b></td>
            </tr>
            <tr><td><br /></td><td><br /></td></tr>
            <tr><td><br /></td><td><br /></td></tr>
            <tr><td><br /></td><td><br /></td></tr>

             @{foreach (var userName in Model)
              {
                     <tr>
                         <td></td><td>
                             <a asp-controller="Home" asp-action="SignIn" asp-route-userName=@userName><b>@userName</b></a><br />
                         </td>
                     </tr>
              }
              }
            <tr><td><br /></td><td><br /></td></tr>
            <tr><td><br /></td><td><br /></td></tr>
            <tr>
                <td> </td><td>
                    <a asp-controller="Home" asp-action="SignUp"><h1>Sign Up</h1></a>
               </td>
            </tr>
        </table>
    </form>

</body>
</html>