@{
    ViewData["Title"] = "SignUp";
}

<html>
<body>

    <form method="post" asp-controller="Home" asp-action="SignUp">
        <table style="width: 40%;">
            <tr>
                <th></th>
                <th><h1>Sign Up</h1></th>
            </tr>
            <tr>
                <td style="text-align: end; padding-right: 10px;"><b>User Name</b></td>
                <td><input style="padding: 5px; width: 100%;" type="text" name="userName" /></td>
            </tr>
            <tr>
                <td style="text-align: end; padding-right: 10px;"><b>Password</b></td>
                <td><input style="padding: 5px; width: 100%;" type="password" name="password" /></td>
            </tr>
            <tr>
                <td style="text-align: end; padding-right: 10px;"><b>Confirm Password</b></td>
                <td><input style="padding: 5px; width: 100%;" type="password" name="passwordCopy" /></td>
            </tr>
            <tr>
                <td></td>
                <td><b>
                <input style="padding: 5px; width: 49%;" type="submit" value="Submit" />
                <a asp-controller="Home" asp-action="SignIn">
                    <input style="padding: 5px; width: 48%;" type="button" value="Exit" />
                </a>
                </b></td>
            </tr>
        </table>
    </form>

</body>
</html>



